aggforce @ git+https://github.com/noegroup/aggforce.git -e
h5py
jsonargparse
matplotlib
mdtraj
mlcg @ git+https://github.com/ClementiGroup/mlcg.git@0.0.1 -e
natsort
networkx
numpy 
pandas
PyYAML
scikit-learn
SciPy
torch
torch_geometric
tqdm
